{% extends 'feed/layout.html' %}
{% load static %}
{% block content %}
<br>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <div class="card-title text-center">
                            <b>An email has been sent with intrustions to reset your password.</b>
                        </div>
                        <h5>
                            <form class="form-signin">
                                <a href="https://mail.google.com/mail/u/0" class="btn btn-lg btn-warning btn-block text-uppercase">Open Gmail</a>
                            </form>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}